.modal{
  max-width: 30rem;
}
p.error{
  margin-top: -.8rem;
  font-size: smaller;
  color: red;
}
.profile{
  color: #fff;
  height: 12rem;
  img {
    max-height: 4rem;
    max-width: 4rem;
    border-radius: 50%;
    margin-top: 1rem;
  }
  muted{
    display:block;
    color: darken(grey, 30%);
  }
}
nav{
  .brand-logo{
    img{
      max-width: 3rem;
      border-radius: 50%;
      margin-bottom: -.6rem;
    }
  }
  ul.left{
    margin-left: -1rem;
  }
  ul.right{
    margin-right: -1rem;
  }
}
